* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #006633;
    padding: 15px;
    top: 0;
    z-index: 1000;
}

nav h4 {
    font-family: 'Alegreya SC', serif;
    color: white;
    font-size: 1.2rem;
}

nav h4,
nav ul {
    display: inline-block;
}

nav ul {
    float: right;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    border-bottom: 3px solid #FBA332;
}

header {
    background: url("images/aqueduct-banner-small.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 70px;
    position: relative;
}

header h1 {
    text-align: right;
    color: white;
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

section {
    display: block;
    clear: both;
    background-color: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 100%;
    font-size: .85rem;
}

section.about-me img {
    float: right;
    padding-bottom: 30px;
}

section.skills {
    background-color: #F4F3F5;
}

.section-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    display: block;
    height: auto;
}

.section-container:after {
    content: "";
    clear: both;
    display: table;
}

section h3 {
    font-family: 'Libre Franklin', sans-serif;
    color: #FBA332;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

section p {
    padding-top: 10px;
    font-size: 1rem;
    padding-bottom: 20px;
}

section.skills .skills-container {
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

section.skills .skills-container img {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1rem;
}

section.projects .project-container {
    background-color: #F4F3F5;
    margin-bottom: 15px;
    padding: 15px;
}

@media only screen and (max-width: 640px) {
    section.projects .project-container img {
        margin-bottom: 10px;
    }
}

section.projects .project-container h6 {
    font-family: 'Libre Franklin', sans-serifx;
    font-size: 1rem;
    border-bottom: 2px solid #25945C;
    padding-bottom: 3px;
}

section.projects .project-container ul {
    margin-top: 10px;
    font-size: .8rem;
}

section.projects .project-container li {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 7px;
    border: 2px solid #FBA332;
    font-family: 'Libre Franklin', sans-serif;
}

section.projects .project-container a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: #40955d;
    color: #F4F3F5;
    margin-top: 10px;
    margin-right: 5px;
    width: 90px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

section.contact {
    background-color: #F4F3F5;
}

section.contact h3 {
    text-align: center;
    color: black;
}

section.contact ul {
    text-align: center;
}

section.contact li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

section.contact li a {
    font-size: 4rem;
    color: #c17300;
}

footer {
    text-align: center;
    background-color: #006633;
    color: white;
    display: block;
    clear: both;
    font-size: .8rem;
    padding: 10px;
}
